{
	margin: 0%;
	border: 1px solid red;
}
.navbar img{
	vertical-align: middle;
}
.signin{
	background-color: skyblue;
	font-size: 10px;
	border-radius: 17px;
	margin-right: 10%;
}
.navbar a{
	margin: 2%;
	text-align: center;
	padding: 1.5%;
	font-size: 15px;
	border-radius: 8px;
	text-decoration: none;


}
.img{
	margin: 4%;
}
.wallet{
	text-decoration: none;
	text-align: center;
	background-color: #f6f6f6;
	padding: 2% 0% 2% 3%;

}
.section1{
	font-size: 30px;
    padding: 10% 0% 5% 10%;
	display: flex;
	justify-content: space-between;
}
.text{
	width: 33%;
	padding: 5% 0% 5% 3%;
	font-size: 30px;
}
.section2{
	background-color: skyblue;
	font-size: 20px;
	padding: 5% 10% 5% 8%;
}
.mainly{
	display: flex;
	justify-content: space-evenly;
}
.mainly img{
	width: 50%;
}
.section3{
	background-color: #00BAF2;
	font-size: 20px;
	padding: 5% 10% 5% 8%;
}
.closely{
	display: flex;
	justify-content: space-evenly;
}
.closely img{
	width: 50%;
}
.maindiv{
	background-color: white;
	display: flex;
	justify-content: space-evenly;
}
.remainly{
	padding-left: 5%;
}
.mainly4{
	padding-top: 3%;
	padding-bottom: 3%;
}
.section4{
	padding: 4% 13% 2% 10%;
	background-color: rgba(239, 239, 239, 0.5);
}
.button{
	background-color: black;
	padding: 4%;
	border-radius: 20px;
	color: white;
	width: 60%;
	margin: 2% 4% 2% 4%;
	margin-top: 5%;
}
.section5{
	padding: 0.2% 8% 1.5% 5%;
	background-color: rgba(239, 239, 239, 0.5);

}
.closely{
	background-color: white;
	display: flex;
	justify-content: space-evenly;
	margin: 5%;
}











	


















	


	
